<!DOCTYPE html>
<html>
  <head>
    <title>Trellow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Token for json/xml requests -->
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

    <!-- Initializes React Application -->
    <%= javascript_pack_tag 'react_index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
